@font-face {
    src: url(./fonts/miama/Miama.ttf) format('truetype');
    font-family: 'Miama';

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}


.header {
    background: linear-gradient(0deg, #000000 0%, #333131 100%);

}

.header .navbar {
    padding-top: 50px;
    margin-left: 145px;
    margin-right: 145px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 97px;
}

.header .navbar a {
    text-decoration: none;

}

.header .navbar .nav-icon a {
    font-family: "Inter", sans-serif;
    color: #E6533C;
    font-style: italic;
    font-weight: 800;
    font-size: 36px;
}

.header .navbar .nav-items {
    border-radius: 39px;

    width: 465px;
    height: 46px;
    border: 1px solid #000;
    display: flex;
    align-items: center;

}

.header .navbar .nav-items .home {
    background-color: #E6533C;
    border-radius: 46px;
    padding: 8px 20px;
    color: #ffff;
    font-family: "Inter", sans-serif;
    margin-right: 56px;
    margin-left: 4px;
    font-weight: 600;
    font-size: 18px;
}

.header .navbar .nav-items .service {
    font-weight: 400;
    color: #ffff;
    font-family: "Inter", sans-serif;
    margin-right: 56px;
    font-size: 18px;
}

.header .navbar .nav-items .contact {
    font-weight: 400;
    color: #ffff;
    font-family: "Inter", sans-serif;
    margin-right: 56px;
    font-size: 18px;
}

.header .navbar .nav-items .about {
    font-weight: 400;
    color: #ffff;
    font-family: "Inter", sans-serif;
    font-size: 18px;

}

.header .navbar .nav-icon .icon {
    display: none;
}


.header .banner {
    display: flex;
    margin-left: 145px;
    margin-right: 135px;
}

.header .banner .banner-left {
    margin-right: 50px;
}

.header .banner .banner-left .banner-headerTexts .bannerMainTexts {
    font-family: "Inter", sans-serif;
    font-size: 78px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    margin-bottom: 28px;
}

.header .banner .banner-left .banner-headerTexts .bannerMainTexts span {
    font-family: 'Miama';
    font-size: 108px;
    font-weight: 400;
}


.header .banner .banner-left .banner-headerTexts .banner-headerDescription {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin-bottom: 28px;
}

.header .banner .banner-left .banner-buttons .join {
    font-family: "Inter", sans-serif;
    background-color: #E6533C;
    border-radius: 42px;
    width: 224px;
    height: 54px;
    color: white;
    border: none;
    cursor: pointer;
    padding: 16px 46px;
    font-size: 18px;
    font-weight: 600;
    margin-right: 14px;
}

.header .banner .banner-left .banner-buttons .download {
    font-family: "Inter", sans-serif;
    border-radius: 42px;
    width: 224px;
    height: 54px;
    color: white;
    border: 1px solid;
    cursor: pointer;
    padding: 16px 46px;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;

}

.header .banner .banner-right {
    position: relative;
}

.header .banner .banner-right img {
    z-index: 0;
    width: 339px;
    height: 570px;
    margin-left: 165px;
    margin-top: -80px;

}

.header .banner .banner-right .workout {

    position: absolute;
    top: 50px;
    left: 380px;
    z-index: 1;
    width: 193px;
    height: 98px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);

}

.header .banner .banner-right .workout .five {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: white;
    margin-left: 22px;
    margin-top: 15px;

}

.header .banner .banner-right .workout .free {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: white;
    opacity: 65%;
    margin-left: 22px;

}

.header .banner .banner-right .video {
    position: absolute;
    bottom: 70px;
    left: 60px;
    z-index: 1;
    width: 206px;
    height: 96px;
    background-color: rgba(48, 48, 48, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
}


.header .banner .banner-right .video .circle {
    height: 40px;
    width: 40px;
    background-color: #E6533C;
    border-radius: 50%;
    margin-top: 28px;
    margin-left: 23px;
    margin-bottom: 28px;
    margin-right: 12px;
}


.header .banner .banner-right .video .videoTexts .threefifty {
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 8px;
}


.header .banner .banner-right .video .videoTexts .videos {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #EFEDE8;
    opacity: 65%;
    margin-bottom: 20px;

}

.habits {
    padding-top: 100px;
    background-color: #000;
    padding-bottom: 100px;

}

.habits .habitsHeader {
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    margin-bottom: 14px;
}

.habits .habitsDescription {
    color: white;
    opacity: 50%;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 58px;
}

.habits .habits-images {
    display: flex;
    margin-left: 145px;
    margin-right: 145px;
    justify-content: space-between;
    text-align: center;
}

.habits .habits-images .movement img,
.habits .habits-images .time img,
.habits .habits-images .practice img,
.habits .habits-images .weight img {
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
}

.habits .habits-images .movement .movementHeader {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-top: 25px;
    color: white;
}

.habits .habits-images .movement .movementDescription {

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    opacity: 50%;
    color: white;
}




.habits .habits-images .time .timeHeader {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-top: 25px;
    color: white;
}

.habits .habits-images .time .timeDescription {

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    opacity: 50%;
    color: white;
}




.habits .habits-images .practice .practiceHeader {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-top: 25px;
    color: white;
}

.habits .habits-images .practice .practiceDescription {

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    opacity: 50%;
    color: white;
}


.habits .habits-images .weight .weightHeader {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-top: 25px;
    color: white;
}

.habits .habits-images .weight .weightDescription {

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    opacity: 50%;
    color: white;
}

.run {
    background-color: #000;
    padding-bottom: 100px;
    font-family: "Inter", sans-serif;
}

.run .runItems {
    margin-left: 145px;
    margin-right: 145px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 1060px;
    height: 350px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.run .runItems .runleft {
    margin-left: 54px;
    font-family: "Inter", sans-serif;

}

.run .runItems .runleft .runHeader {

    font-weight: 800;
    font-size: 48px;
    color: white;
    margin-bottom: 14px;


}

.run .runItems .runleft .runDescription {
    font-size: 14px;
    font-weight: 400;
    color: white;
    opacity: 50%;
    margin-bottom: 40px;

}

.run .runItems .runleft .runButton {
    text-decoration: none;
    width: 224px;
    height: 54px;
    background-color: #E6533C;
    color: white;
    padding: 16px 70px;
    border-radius: 42px;

}



.run .runItems img {
    width: 366px;
    height: 312px;
    margin-right: 32px;
}

.run .runItems .mobileimg {
    display: none;
}




.fitnessPlan {
    background-color: #000;
    padding-bottom: 180px;
    font-family: "Inter", sans-serif;
}

.fitnessPlan .fitnessPlanItems {
    display: flex;
    position: relative;
}

.fitnessPlan .fitnessPlanItems .fitnessPlanLeft {
    margin-left: 145px;
    margin-right: 145px;
    position: relative;

}


.fitnessPlan .fitnessPlanItems .fitnessPlanLeft .img1 {
    width: 350px;
    height: 250px;
    border-radius: 14px;
    position: relative;
    z-index: 1;
    animation: moveLeftRight 3s ease-in-out infinite;
}


.fitnessPlan .fitnessPlanItems .fitnessPlanLeft .img2 {
    width: 350px;
    height: 250px;
    border-radius: 14px;
    margin-left: 50px;
    top: 20px;
    position: absolute;
    z-index: 2;
    top: 120px;
    left: 1px;
    animation: moveUpDown 3s ease-in-out infinite;
    opacity: 90%;
}

@keyframes moveLeftRight {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100px);

    }
}

@keyframes moveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(50px);

    }
}


.fitnessPlan .fitnessPlanItems .fitnessPlanRight {
    margin-left: 140px;
}

.fitnessPlan .fitnessPlanItems .fitnessPlanRight .plansCard {
    display: flex;
}

.fitnessPlan .fitnessPlanItems .fitnessPlanRight .fitnessPlanHeader {
    font-weight: 800;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-bottom: 50px;


}

.fitnessPlan .fitnessPlanItems .fitnessPlanRight .threeMonths {
    color: white;
    width: 130px;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    border: 2px solid rgb(245, 80, 15);
    cursor: pointer;
    margin-right: 20px;
}

.fitnessPlan .fitnessPlanItems .fitnessPlanRight .threeMonths:hover {
    transform: scale(1.1);

}

.fitnessPlan .fitnessPlanItems .fitnessPlanRight .threeMonths i {

    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;

}

.fitnessPlan .fitnessPlanItems .fitnessPlanRight .threeMonths .months1 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}


.fitnessPlan .fitnessPlanItems .fitnessPlanRight .threeMonths .price1 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 800;
}




.fitnessPlan .fitnessPlanItems .fitnessPlanRight .sixMonths {
    color: white;
    width: 130px;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    border: 2px solid rgb(245, 80, 15);
    cursor: pointer;
}

.fitnessPlan .fitnessPlanItems .fitnessPlanRight .sixMonths:hover {
    transform: scale(1.1);

}

.fitnessPlan .fitnessPlanItems .fitnessPlanRight .sixMonths i {

    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;

}

.fitnessPlan .fitnessPlanItems .fitnessPlanRight .sixMonths .months2 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}


.fitnessPlan .fitnessPlanItems .fitnessPlanRight .sixMonths .price2 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 800;
}




.fitnessPlan .fitnessPlanItems .fitnessPlanRight .eightMonths {
    color: white;
    width: 130px;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    border: 2px solid rgb(245, 80, 15);
    cursor: pointer;
    margin-left: 20px;
}

.fitnessPlan .fitnessPlanItems .fitnessPlanRight .eightMonths:hover {
    transform: scale(1.1);

}

.fitnessPlan .fitnessPlanItems .fitnessPlanRight .eightMonths i {

    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;

}

.fitnessPlan .fitnessPlanItems .fitnessPlanRight .eightMonths .months3 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}


.fitnessPlan .fitnessPlanItems .fitnessPlanRight .eightMonths .price3 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 800;
}


.bmi {
    background-color: #000;
    font-family: "Inter", sans-serif;
}

.bmi .bmiHeader {
    margin-left: 384px;
    color: white;
    font-weight: 800;
    font-size: 48px;
    margin-bottom: 10px;
}

.bmi .bmiDescription {
    margin-left: 384px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    opacity: 50%;
    margin-bottom: 88px;

}

.bmi .bmiChart {
    width: 100%;
    height: 487px;
    background-color: #222222;
    display: flex;
}

.bmi .bmiChart .bmileft {
    margin-left: 145px;
    margin-right: 160px;
}

.bmi .bmiChart .bmileft .bmiChartHeader {
    font-weight: 800;
    font-size: 28px;
    color: white;
    margin-bottom: 50px;
    margin-top: 52px;
}


.bmi .bmiChart .bmileft table {
    color: #ffffff;
    border-collapse: collapse;

}

.bmi .bmiChart .bmileft td,
th {
    border: 1px solid rgb(53, 52, 52);
    padding: 10px 15px;
}

.bmi .bmiChart .bmileft td {
    opacity: 50%;
}

.bmi .bmiChart .bmiright {
    margin-top: 52px;
}


.bmi .bmiChart .bmiright .bmicalculate {
    font-weight: 800;
    font-size: 28px;
    color: white;
    margin-bottom: 14px;
}


.bmi .bmiChart .bmiright .bmiCalDesc {
    opacity: 50%;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 34px;
    color: white;

}



.bmi .bmiChart .bmiright .bmicalculator .bmiHW .height {
    width: 282px;
    height: 48px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    margin-right: 12px;
    margin-bottom: 12px;
    color: #fff;
}

.bmi .bmiChart .bmiright .bmicalculator .bmiHW .height::placeholder {
    color: white;
    opacity: 60%;
    padding-left: 20px;

}



.bmi .bmiChart .bmiright .bmicalculator .bmiHW .weight {
    width: 282px;
    height: 48px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    margin-bottom: 12px;
    color: #fff;
}

.bmi .bmiChart .bmiright .bmicalculator .bmiHW .weight::placeholder {
    color: white;
    opacity: 60%;
    padding-left: 20px;

}


.bmi .bmiChart .bmiright .bmicalculator .bmiAS .age {
    width: 282px;
    height: 48px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    margin-bottom: 12px;
    margin-right: 12px;
    color: #fff;
}


.bmi .bmiChart .bmiright .bmicalculator .bmiAS .age::placeholder {
    color: white;
    opacity: 60%;
    padding-left: 20px;
}


.bmi .bmiChart .bmiright .bmicalculator .bmiAS form #gender {
    width: 282px;
    height: 48px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    margin-bottom: 12px;
    margin-right: 12px;
    color: rgba(255, 255, 255, .5);

}

.bmi .bmiChart .bmiright .bmicalculator .bmiAS form #gender option {
    color: #E6533C;
}



.bmi .bmiChart .bmiright .bmicalculator .bmiActivity form #activity {
    width: 577px;
    height: 48px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    margin-bottom: 12px;
    margin-right: 12px;
    color: rgba(255, 255, 255, .5);
    margin-bottom: 50px;

}

.bmi .bmiChart .bmiright .bmicalculator .bmiActivity form #activity option {
    color: #E6533C;
}


.bmi .bmiChart .bmiright .bmicalculator .calculateBtn {

    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    background-color: #E6533C;
    color: white;
    border-radius: 42px;
    padding: 16px 70px;

}

/* bmi end */

.team {
    background-color: #000;
    font-family: "Inter", sans-serif;
    padding-bottom: 88px;
}

.team .teamHeader {
    font-weight: 800;
    font-size: 48px;
    color: #ffffff;
    padding-top: 88px;
    text-align: center;
    margin-bottom: 14px;
}


.team .teamDescription {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 58px;
}

.team .teambox {
    width: 1060px;
    margin-left: 145px;
    margin-right: 145px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 14px;

}

.team .teambox .teamMemberes1 {
    display: flex;
    justify-content: center;



}

.team .teambox .teamMemberes1 .team1 {
    position: relative;
    margin-right: 15px;
    margin-top: 20px;

}

.team .teambox .teamMemberes1 .team1 img {
    width: 326px;
    height: 272px;
    border-radius: 14px;
    z-index: 1;

}

.team .teambox .teamMemberes1 .team1 .trainer1name {
    font-weight: 800;
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    z-index: 2;
    bottom: 60px;
    margin-left: 15px;
}

.team .teambox .teamMemberes1 .team1 .trainerdes1 {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    opacity: 50%;
    position: absolute;
    z-index: 2;
    bottom: 40px;
    margin-left: 15px;

}




.team .teambox .teamMemberes1 .team2 {
    position: relative;
    margin-right: 15px;
    margin-top: 20px;

}

.team .teambox .teamMemberes1 .team2 img {
    width: 326px;
    height: 272px;
    border-radius: 14px;

    z-index: 1;

}

.team .teambox .teamMemberes1 .team2 .trainer2name {
    font-weight: 800;
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    z-index: 2;
    bottom: 60px;
    margin-left: 15px;

}

.team .teambox .teamMemberes1 .team2 .trainerdes2 {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    opacity: 50%;
    position: absolute;
    z-index: 2;
    bottom: 40px;
    margin-left: 15px;
}



.team .teambox .teamMemberes1 .team3 {
    position: relative;

    margin-top: 20px;

}

.team .teambox .teamMemberes1 .team3 img {
    width: 326px;
    height: 272px;
    border-radius: 14px;

    z-index: 1;

}

.team .teambox .teamMemberes1 .team3 .trainer3name {
    font-weight: 800;
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    z-index: 2;
    bottom: 60px;
    margin-left: 15px;
}

.team .teambox .teamMemberes1 .team3 .trainerdes3 {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    opacity: 50%;
    position: absolute;
    z-index: 2;
    bottom: 40px;
    margin-left: 15px;
}

/*  */




.team .teambox .teamMemberes2 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;


}

.team .teambox .teamMemberes2 .team4 {
    position: relative;
    margin-right: 15px;
    margin-top: 20px;

}

.team .teambox .teamMemberes2 .team4 img {
    width: 326px;
    height: 272px;
    border-radius: 14px;

    z-index: 1;

}

.team .teambox .teamMemberes2 .team4 .trainer4name {
    font-weight: 800;
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    z-index: 2;
    bottom: 60px;
    margin-left: 15px;
}

.team .teambox .teamMemberes2 .team4 .trainerdes4 {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    opacity: 50%;
    position: absolute;
    z-index: 2;
    bottom: 40px;
    margin-left: 15px;

}




.team .teambox .teamMemberes2 .team5 {
    position: relative;
    margin-right: 15px;
    margin-top: 20px;

}

.team .teambox .teamMemberes2 .team5 img {
    width: 326px;
    height: 272px;
    border-radius: 14px;

    z-index: 1;

}

.team .teambox .teamMemberes2 .team5 .trainer5name {
    font-weight: 800;
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    z-index: 2;
    bottom: 60px;
    margin-left: 15px;

}

.team .teambox .teamMemberes2 .team5 .trainerdes5 {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    opacity: 50%;
    position: absolute;
    z-index: 2;
    bottom: 40px;
    margin-left: 15px;
}



.team .teambox .teamMemberes2 .team6 {
    position: relative;

    margin-top: 20px;

}

.team .teambox .teamMemberes2 .team6 img {
    width: 326px;
    height: 272px;
    border-radius: 14px;
    z-index: 1;

}

.team .teambox .teamMemberes2 .team6 .trainer6name {
    font-weight: 800;
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    z-index: 2;
    bottom: 60px;
    margin-left: 15px;
}

.team .teambox .teamMemberes2 .team6 .trainerdes6 {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    opacity: 50%;
    position: absolute;
    z-index: 2;
    bottom: 40px;
    margin-left: 15px;
}




/*  */









@media screen and (max-width: 576px) {

    /* navbar */
    .header .navbar {
        margin-left: 20px;
        padding-top: 52px;
        padding-bottom: 50px;
    }

    .header .navbar .nav-items {
        display: none;
    }

    .header .navbar .nav-icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header .navbar .nav-icon .icon {
        display: flex;
        margin-left: 200px;
        font-size: 24px;
        color: white;
        align-items: center;

    }

    /* navbar end */
    /* banner */
    .header .banner {
        margin-left: 20px;
        flex-direction: column;
        align-items: center;

    }

    .header .banner .banner-left {
        margin-right: 0;
        width: 100%;
    }

    .header .banner .banner-left .banner-headerTexts .bannerMainTexts {
        font-size: 36px;

    }

    .header .banner .banner-left .banner-headerTexts .bannerMainTexts span {
        font-size: 48px;
    }

    .header .banner .banner-left .banner-buttons {
        display: flex;


    }

    .header .banner .banner-left .banner-buttons .join {

        padding: 10px 60px;
        margin-right: 10px;
        font-size: 10px;
        white-space: nowrap;
    }


    .header .banner .banner-left .banner-buttons .join span {
        display: none;
    }

    .header .banner .banner-left .banner-buttons .download {
        white-space: nowrap;
        padding: 10px 40px;
        margin-left: 18px;
        font-size: 13px;

    }

    .header .banner .banner-right {
        margin-top: 130px;

    }

    .header .banner .banner-right img {
        width: 270px;
        height: 470px;

    }

    .header .banner .banner-right .workout {
        top: -35px;
        left: 320px;
        width: 140px;
        height: 70px;
    }

    .header .banner .banner-right .workout .five {
        font-size: 29px;
        margin-left: 17px;
        margin-top: 11px;
    }

    .header .banner .banner-right .workout .free {


        font-size: 8px;
        margin-left: 17px;

    }

    .header .banner .banner-right .video {

        bottom: 205px;
        left: 130px;
        width: 150px;
        height: 70px;

    }


    .header .banner .banner-right .video .circle {
        height: 28px;
        width: 28px;
        margin-top: 20px;
        margin-left: 16px;
        margin-bottom: 20px;
        margin-right: 8px;
    }


    .header .banner .banner-right .video .videoTexts .threefifty {
        margin-top: 14px;
        font-size: 17px;
        margin-bottom: 4px;
    }


    .header .banner .banner-right .video .videoTexts .videos {
        font-size: 11px;
        margin-bottom: 12px;

    }

    /* banner end */

    /* habits */
    .habits .habitsHeader {
        color: white;
        font-family: "Inter", sans-serif;
        font-weight: 800;
        font-size: 32px;
        text-align: center;
        margin-bottom: 14px;
    }

    .habits .habits-images {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .habits .habits-images .movement .movementDescription {
        margin-top: 5px;
        margin-bottom: 36px;
        white-space: nowrap;

    }

    .habits .habits-images .time .timeDescription {

        margin-top: 5px;
        margin-bottom: 36px;
        white-space: nowrap;
    }

    .habits .habits-images .practice .practiceDescription {

        margin-top: 5px;
        margin-bottom: 36px;
        white-space: nowrap;
    }

    .habits .habits-images .weight .weightDescription {
        margin-top: 5px;
        white-space: nowrap;
    }

    .run {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .run .runItems {
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: column;
        width: 353px;
        height: 531px;
        align-items: center;
        justify-content: center;

    }

    .run .runItems .runleft {
        margin-left: 30px;

    }

    .run .runItems .runleft .runHeader {
        font-size: 30px;
        margin-top: 10px;
    }

    .run .runItems .runleft .runDescription {
        font-size: 14px;
        margin-right: 30px;
        margin-bottom: 26px;
    }

    .run .runItems .runleft .runDescription br {
        display: none;
    }

    .run .runItems .runleft .runButton {
        display: flex;
        width: 287px;
        height: 54px;
        justify-content: center;


    }

    .run .runItems img {
        display: none;
    }

    .run .runItems .mobileimg {
        display: block;
        border-radius: 18px;
        width: 290px;
        height: 190px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }


    .fitnessPlan .fitnessPlanItems {
        flex-direction: column;

    }

    .fitnessPlan .fitnessPlanItems .fitnessPlanLeft {
        margin-left: 20px;
        margin-right: 10px;
    }


    .fitnessPlan .fitnessPlanItems .fitnessPlanLeft .img1 {
        width: 250px;
        height: 150px;


    }

    .fitnessPlan .fitnessPlanItems .fitnessPlanLeft .img2 {
        width: 250px;
        height: 150px;


    }

    .fitnessPlan .fitnessPlanItems .fitnessPlanRight {
        margin-left: 0px;

    }

    .fitnessPlan .fitnessPlanItems .fitnessPlanRight .fitnessPlanHeader {
        font-weight: 800;
        font-size: 30px;
        margin-top: 180px;
        margin-bottom: 20px;



    }


    .fitnessPlan .fitnessPlanItems .fitnessPlanRight .threeMonths {
        margin-left: 40px;
        width: 100px;
        height: 170px;
    }

    .fitnessPlan .fitnessPlanItems .fitnessPlanRight .sixMonths {
        width: 100px;
        height: 170px;
    }


    .fitnessPlan .fitnessPlanItems .fitnessPlanRight .eightMonths {
        width: 100px;
        height: 170px;
    }



    .bmi .bmiHeader {
        margin-left: 20px;
        font-size: 30px;
        margin-bottom: 10px;
    }

    .bmi .bmiDescription {
        margin-left: 20px;
        font-size: 14px;
        margin-bottom: 32px;

    }


    .bmi .bmiChart {
        flex-direction: column;
        height: 772px;
    }

    .bmi .bmiChart .bmileft {
        margin-left: 20px;
        margin-right: 20px;
    }



    .bmi .bmiChart .bmileft .bmiChartHeader {

        font-size: 16px;
        margin-bottom: 23px;
        margin-top: 32px;
    }



    .bmi .bmiChart .bmiright {
        margin-top: 42px;
    }

    .bmi .bmiChart .bmiright .bmicalculate {
        font-size: 16px;
        margin-bottom: 13px;
        margin-left: 20px;
    }

    .bmi .bmiChart .bmiright .bmiCalDesc {
        margin-left: 20px;
        margin-bottom: 30px;


    }

    .bmi .bmiChart .bmiright .bmicalculator .bmiHW {

        justify-content: space-between;
    }

    .bmi .bmiChart .bmiright .bmicalculator .bmiHW .height {
        width: 170px;
        height: 48px;
        margin-left: 20px;
        margin-bottom: 12px;
    }



    .bmi .bmiChart .bmiright .bmicalculator .bmiHW .weight {
        width: 170px;
        height: 48px;
        margin-right: 20px;
        margin-bottom: 12px;

    }

    .bmi .bmiChart .bmiright .bmicalculator .bmiAS {
        margin-left: 20px;
        justify-content: space-between;
    }

    .bmi .bmiChart .bmiright .bmicalculator .bmiAS .age {
        width: 170px;

        margin-bottom: 12px;
        margin-right: 12px;

    }

    .bmi .bmiChart .bmiright .bmicalculator .bmiAS form #gender {
        width: 170px;
        margin-bottom: 12px;
        margin-right: 20px;
    }




    .bmi .bmiChart .bmiright .bmicalculator .bmiActivity form #activity {
        width: 385px;
        height: 48px;
        margin-bottom: 12px;
        margin-left: 20px;
        margin-bottom: 50px;

    }


    .bmi .bmiChart .bmiright .bmicalculator .calculateBtn {
        margin-left: 20px;
        font-size: 18px;


    }

    /* bmi ends */


    .team .teamHeader {
        font-weight: 800;
        font-size: 30px;
        padding-top: 66px;
        margin-bottom: 14px;
    }


    .team .teamDescription {

        margin-bottom: 37px;
    }

    .team .teambox {
        width: 385px;
        margin-left: 20px;
        margin-right: 20px;
        justify-content: center;
        align-items: center;

    }

    .team .teambox .teamMemberes1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;


    }


    .team .teambox .teamMemberes1 .team1 {
        display: none;

    }



    .team .teambox .teamMemberes1 .team2 {

        margin-right: 0;
        margin-top: 30px;

    }

    .team .teambox .teamMemberes2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;


    }


    .team .teambox .teamMemberes2 .team4 {
        display: none;

    }


    .team .teambox .teamMemberes2 .team5 {

        margin-right: 0;


    }




}